.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.image {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#666666;
  text-align:left;
}
.heading_2 {
  font-family:'Lato-Medium', 'Lato Medium', 'Lato';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#0E0E0E;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:30px;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.materialicons {
  font-family:'MaterialIcons-Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
.heading2_white {
  font-family:'Lato-Medium', 'Lato Medium', 'Lato';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
.header_link {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0F7B7B;
  text-align:center;
}
.comingup {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
  line-height:30px;
}
.subtitle {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:30px;
}
.title {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0E0E0E;
  text-align:left;
}
.new_style {
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:center;
}
.spec_text {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
.paragraph_white {
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
  line-height:30px;
}
