.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.image {
}
.heading_1 {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#666666;
  text-align:left;
}
.heading_2 {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
  line-height:30px;
}
.line {
}
.flow_shape {
}
.materialicons {
  font-family:'MaterialIcons-Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
